---
layout: default
---

<h1 class="border border-top-0 border-end-0 border-start-0 mb-3 pb-2">
    {{ page.title }}
</h1>

<div class="d-md-block d-lg-none">
    {% include components/project-meta.html %}
</div>

{{ content }}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var tpl =
            "<li class='nav-item'>" +
                "<a class='nav-link bg-white mb-1' href='#header[idx]'>[name]</a>" +
            "</li>";
        document.querySelectorAll('h2').forEach(function(h2, idx) {
            h2.id = 'header' + idx;
            var name = h2.textContent.trim();
            var li = document.createElement('li');
            li.className = 'nav-item';
            var a = document.createElement('a');
            a.className = 'nav-link bg-white mb-1';
            a.href = '#header' + idx;
            a.textContent = name;
            li.appendChild(a);
            document.querySelector('.header-list').appendChild(li);
        });
    });
</script>
